.count__reset {
    counter-reset: section;
}
.count__increment {
    position: relative;
    &:before {
        @include media(mobile--min) {
            position: absolute;
            left: -1.2em;
        }
        counter-increment: section;
        content: counter(section);
    }
}