.count__reset {
    counter-reset: section;
}
.count__increment {
    position: relative;
    &:before {
        padding-right: rhythm(.5);
        counter-increment: section;
        content: counter(section);
        @include media(mobile--min) {
            position: absolute;
            left: -1.2em;
            padding-right: 0;

        }
    }
}