/* line 1, ../sass/2-tools/_helper.scss */
.count__reset {
  counter-reset: section;
}

/* line 4, ../sass/2-tools/_helper.scss */
.count__increment {
  position: relative;
}
/* line 6, ../sass/2-tools/_helper.scss */
.count__increment:before {
  position: absolute;
  left: -1.2em;
  counter-increment: section;
  content: counter(section);
}

/* line 6, ../sass/3-generic/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/3-generic/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 52, ../sass/3-generic/_reset.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 1, ../sass/4-base/_typography.scss */
body {
  font-size: 16px;
  line-height: 1.333;
  font-family: "Open Sans", sans-serif;
  color: #868686;
}

/* line 8, ../sass/4-base/_typography.scss */
h1, .h1 {
  font-size: 3.157em;
  line-height: 1.26671em;
}

/* line 11, ../sass/4-base/_typography.scss */
h2, .h2 {
  font-size: 2.369em;
  line-height: 1.12537em;
}

/* line 14, ../sass/4-base/_typography.scss */
h3, .h3 {
  font-size: 1.777em;
  line-height: 1.50028em;
}

/* line 17, ../sass/4-base/_typography.scss */
h4, .h4 {
  font-size: 1.333em;
  line-height: 1.5em;
}

/* line 20, ../sass/4-base/_typography.scss */
h5, .h5 {
  font-size: 1em;
  line-height: 1.333em;
}

/* line 23, ../sass/4-base/_typography.scss */
h6, .h6, small, .small {
  font-size: 0.75em;
  line-height: 1.77733em;
}

/* line 27, ../sass/4-base/_typography.scss */
.heading--group {
  padding-top: 2.666em;
  padding-bottom: 2.666em;
}

/* line 31, ../sass/4-base/_typography.scss */
.heading, .heading--note, p, pre {
  padding-top: 1.333em;
}

/* line 35, ../sass/4-base/_typography.scss */
.heading--primary {
  color: #b9b9b9;
  font-weight: 300;
}

/* line 41, ../sass/4-base/_typography.scss */
.heading--default:after {
  color: #b9b9b9;
  content: " (default)";
}

/* line 48, ../sass/4-base/_typography.scss */
.heading--note:before {
  content: "Note: ";
}

/* line 1, ../sass/5-objects/_grid.scss */
.container, [class*="col--"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/5-objects/_grid.scss */
.container:after, .row:after, [class*="col--"]:after {
  content: "";
  clear: both;
  display: table;
}

/* line 12, ../sass/5-objects/_grid.scss */
.container {
  margin: 0 auto;
  max-width: 84em;
  padding: 0 1.9995em;
  overflow: hidden;
}
/* line 19, ../sass/5-objects/_grid.scss */
.container + .container {
  margin-top: 5.332em;
}

/* line 24, ../sass/5-objects/_grid.scss */
.row {
  margin: 0 -1.9995em;
}
/* line 27, ../sass/5-objects/_grid.scss */
.row + .row {
  margin-top: 2em;
}

/* line 32, ../sass/5-objects/_grid.scss */
[class*="col--"] {
  padding: 0 1.9995em;
}

@media only screen and (min-width: 60em) {
  /* line 39, ../sass/5-objects/_grid.scss */
  .col--aside {
    float: left;
    width: 33.33333%;
  }

  /* line 43, ../sass/5-objects/_grid.scss */
  .col--content {
    display: table-cell;
    width: 100000px;
  }
}
/* line 1, ../sass/5-objects/_flex.scss */
.flex__parent {
  margin-top: 1.333em;
  padding: 0.33325em;
  counter-reset: flex;
  border: 0.16663em solid #e0e0e0;
}

/* line 7, ../sass/5-objects/_flex.scss */
.flex__child {
  padding: 1.333em;
  text-align: center;
  color: white;
  background-color: deepskyblue;
}
/* line 12, ../sass/5-objects/_flex.scss */
.flex__child:before {
  counter-increment: flex;
  content: counter(flex);
}
/* line 16, ../sass/5-objects/_flex.scss */
.flex__child:nth-child(2) {
  background-color: #00b4f0;
}
/* line 19, ../sass/5-objects/_flex.scss */
.flex__child:nth-child(3) {
  background-color: #00a8e0;
}
/* line 22, ../sass/5-objects/_flex.scss */
.flex__child:nth-child(4) {
  background-color: #009dd1;
}
/* line 25, ../sass/5-objects/_flex.scss */
.flex__child:nth-child(5) {
  background-color: #0091c2;
}
/* line 28, ../sass/5-objects/_flex.scss */
.flex__child:nth-child(6) {
  background-color: #0086b3;
}
/* line 31, ../sass/5-objects/_flex.scss */
.flex__child:nth-child(7) {
  background-color: #007aa3;
}
/* line 34, ../sass/5-objects/_flex.scss */
.flex__child:nth-child(8) {
  background-color: #006f94;
}
/* line 37, ../sass/5-objects/_flex.scss */
.flex__child:nth-child(9) {
  background-color: #006385;
}
/* line 40, ../sass/5-objects/_flex.scss */
.flex__child:nth-child(10) {
  background-color: #005875;
}
/* line 43, ../sass/5-objects/_flex.scss */
.flex__child:nth-child(11) {
  background-color: #004c66;
}

/* line 51, ../sass/5-objects/_flex.scss */
.flex__direction--1 .flex__parent {
  display: flex;
  flex-direction: row;
}

/* line 58, ../sass/5-objects/_flex.scss */
.flex__direction--2 .flex__parent {
  display: flex;
  flex-direction: row-reverse;
}

/* line 65, ../sass/5-objects/_flex.scss */
.flex__direction--3 .flex__parent {
  display: flex;
  flex-direction: column;
}

/* line 72, ../sass/5-objects/_flex.scss */
.flex__direction--4 .flex__parent {
  display: flex;
  flex-direction: column-reverse;
}

/* line 83, ../sass/5-objects/_flex.scss */
[class*="flex__wrap--"] .flex__child {
  width: 20%;
}

/* line 88, ../sass/5-objects/_flex.scss */
.flex__wrap--1 .flex__parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* line 96, ../sass/5-objects/_flex.scss */
.flex__wrap--2 .flex__parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* line 104, ../sass/5-objects/_flex.scss */
.flex__wrap--3 .flex__parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

/* line 115, ../sass/5-objects/_flex.scss */
.flex__justify--1 .flex__parent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

/* line 122, ../sass/5-objects/_flex.scss */
.flex__justify--2 .flex__parent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

/* line 129, ../sass/5-objects/_flex.scss */
.flex__justify--3 .flex__parent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

/* line 136, ../sass/5-objects/_flex.scss */
.flex__justify--4 .flex__parent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* line 143, ../sass/5-objects/_flex.scss */
.flex__justify--5 .flex__parent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

/* line 154, ../sass/5-objects/_flex.scss */
[class*="flex__align-items--"] .flex__parent {
  height: 10em;
}

/* line 159, ../sass/5-objects/_flex.scss */
.flex__align-items--1 .flex__parent {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}

/* line 166, ../sass/5-objects/_flex.scss */
.flex__align-items--2 .flex__parent {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
}

/* line 173, ../sass/5-objects/_flex.scss */
.flex__align-items--3 .flex__parent {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

/* line 180, ../sass/5-objects/_flex.scss */
.flex__align-items--4 .flex__parent {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}
/* line 185, ../sass/5-objects/_flex.scss */
.flex__align-items--4 .flex__child:nth-child(2) {
  font-size: 1.5em;
}
/* line 188, ../sass/5-objects/_flex.scss */
.flex__align-items--4 .flex__child:nth-child(4) {
  font-size: .5em;
}
/* line 191, ../sass/5-objects/_flex.scss */
.flex__align-items--4 .flex__child:nth-child(6) {
  font-size: 2em;
}

/* line 196, ../sass/5-objects/_flex.scss */
.flex__align-items--5 .flex__parent {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

/* line 207, ../sass/5-objects/_flex.scss */
[class*="flex__align-content--"] .flex__parent {
  height: 14em;
}
/* line 210, ../sass/5-objects/_flex.scss */
[class*="flex__align-content--"] .flex__child {
  width: 10%;
}

/* line 215, ../sass/5-objects/_flex.scss */
.flex__align-content--1 .flex__parent {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

/* line 222, ../sass/5-objects/_flex.scss */
.flex__align-content--2 .flex__parent {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
}

/* line 229, ../sass/5-objects/_flex.scss */
.flex__align-content--3 .flex__parent {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

/* line 236, ../sass/5-objects/_flex.scss */
.flex__align-content--4 .flex__parent {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

/* line 243, ../sass/5-objects/_flex.scss */
.flex__align-content--5 .flex__parent {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

/* line 250, ../sass/5-objects/_flex.scss */
.flex__align-content--6 .flex__parent {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
}

/* line 262, ../sass/5-objects/_flex.scss */
[class*="flex__order--"] .flex__parent {
  display: flex;
  flex-direction: row;
}

/* line 268, ../sass/5-objects/_flex.scss */
.flex__order--1 .flex__child:nth-child(2) {
  order: 1;
}
/* line 271, ../sass/5-objects/_flex.scss */
.flex__order--1 .flex__child:nth-child(3) {
  order: 2;
}

/* line 276, ../sass/5-objects/_flex.scss */
.flex__order--2 .flex__child:nth-child(2) {
  order: -1;
}
/* line 279, ../sass/5-objects/_flex.scss */
.flex__order--2 .flex__child:nth-child(3) {
  order: 2;
}

/* line 289, ../sass/5-objects/_flex.scss */
[class*="flex__grow--"] .flex__parent {
  display: flex;
  flex-direction: row;
}

/* line 295, ../sass/5-objects/_flex.scss */
.flex__grow--1 .flex__child {
  flex-grow: 0;
}

/* line 303, ../sass/5-objects/_flex.scss */
.flex__grow--2 .flex__child {
  flex-grow: 1;
}

/* line 308, ../sass/5-objects/_flex.scss */
.flex__grow--3 .flex__child {
  flex-grow: 1;
}
/* line 310, ../sass/5-objects/_flex.scss */
.flex__grow--3 .flex__child:nth-child(2) {
  flex-grow: 3;
}

/* line 316, ../sass/5-objects/_flex.scss */
.flex__grow--4 .flex__child {
  flex-grow: 1;
}
/* line 318, ../sass/5-objects/_flex.scss */
.flex__grow--4 .flex__child:nth-child(2) {
  flex-grow: 20;
}

/* line 329, ../sass/5-objects/_flex.scss */
[class*="flex__shrink--"] .flex__parent {
  display: flex;
  flex-direction: row;
}
/* line 333, ../sass/5-objects/_flex.scss */
[class*="flex__shrink--"] .flex__child {
  flex-basis: 16.66667%;
  flex-grow: 0;
}

/* line 342, ../sass/5-objects/_flex.scss */
.flex__shrink--2 .flex__child:nth-child(2) {
  flex-shrink: 1;
}

/* line 347, ../sass/5-objects/_flex.scss */
.flex__shrink--3 .flex__child:nth-child(2) {
  flex-shrink: 2;
}

/* line 352, ../sass/5-objects/_flex.scss */
.flex__shrink--4 .flex__child:nth-child(2) {
  flex-shrink: 20;
}

/* line 357, ../sass/5-objects/_flex.scss */
.flex__shrink--5 .flex__child:nth-child(2) {
  flex-shrink: 20;
}
/* line 360, ../sass/5-objects/_flex.scss */
.flex__shrink--5 .flex__child:nth-child(5) {
  flex-shrink: 20;
}
/* line 363, ../sass/5-objects/_flex.scss */
.flex__shrink--5 .flex__child:nth-child(6) {
  flex-shrink: 40;
}

/* line 1, ../sass/6-components/_site.scss */
[class*="site__"] {
  padding-bottom: 1.333em;
}

/* line 4, ../sass/6-components/_site.scss */
.site__header {
  color: white;
  background-color: deepskyblue;
}

/* line 8, ../sass/6-components/_site.scss */
.site__main {
  background-color: #f9f9f9;
  padding-bottom: 2.666em;
}
/* line 11, ../sass/6-components/_site.scss */
.site__main .heading {
  color: deepskyblue;
}

/* line 15, ../sass/6-components/_site.scss */
.site__footer {
  color: #939393;
  background-color: #e0e0e0;
  padding-top: 1.333em;
  padding-bottom: 5.332em;
}
